@import "./base";

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
}
body {
    height: 100%;
    min-height: 100vh;
    @extend %center-flex;
}
#calculator {
    background-color: $eerie-black;
    box-shadow: 0rem 1rem 1.875rem -0.625rem $eerie-black;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
.btn {
    @extend %center-flex;
    border-radius: 0.2rem;
    margin: 0.3rem;
    font-size: 1.2rem;
    background-color: $eerie-black;
    &:hover {
        cursor: pointer;
    }
}
.big {
    margin: 0;
    margin-left: 0.5rem;
}
#screen {
    background-color: $ash-gray;
    color: $lemon-chiffon;
    min-width: 25rem;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border: 0.5rem solid $dim-gray;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-transform: uppercase;
    grid-column: 1 / -1;
    grid-row: 1 / 4;
}
#formula, #display {
    height: min-content;
    font-size: 0.8rem;
    line-height: 1.3rem;
    font-family: 'Press Start 2P', cursive;
}
#formula {
    text-align: center;
}
#display {
    text-align: right;
}
#clear {
    background-color: $harvest-gold;
    grid-column: 11 / -1;
    grid-row: 4 / 8;
}
#main {
    background-color: $chamoisee;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 1 / 11;
    grid-row: 4 / -1;
}
#numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#operators {
    display: grid;
}
.number {
    background-color: $walnut-brown;
}
.operator {
    background-color: $walnut-brown;
}
#start {
    background-color: $boston-blue;
    grid-column: 11 / -1;
    grid-row: 8 / -1;
    margin-top: 0.5rem;
}

@media (max-width: 480px) {
    #calculator {
        box-shadow: 0rem 1rem 1.875rem -0.625rem $eerie-black;
        padding: 1rem;
    }
    .btn {
        font-size: 1rem;
    }
    .big {
        margin-left: 0.3rem;
    }
    #screen {
        min-width: 18rem;
        margin-bottom: 1rem;
        border: 0.3rem solid $dim-gray;
    }
    #formula, #display {
        font-size: 0.9rem;
    }
}