:root {
    --background: #3b3b4f;
    --div: #1b1b32;
    --font: #f5f6f7;
}

* {
    box-sizing: border-box;
    color: var(--font);
} 

body {
    background-color: var(--background);
    margin: 0;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

#heading {
    text-align: center;
    background-color: var(--div);
    margin: 0;
    padding: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.3rem black;
    font-size: 2.5rem;
}

.sub-heading {
    margin: 3rem 0;
    text-align: center;
    font-size: 1.5rem;
}

.card {
    background-color: var(--div);
    width: 35rem;
    border: 1px solid var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin: 3rem auto;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem black;
}

.card form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-label {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 1rem;
}

.text-input {
    background-color: var(--background);
    padding: 0.7rem;
    margin: 2rem;
    border-radius: 5rem;
}

.div-btn {
    width: 25rem;
    display: flex;
    justify-content: space-between;
}

.card-btn {
    background-color:var(--background);
    color: var(--font);
    border:none;
    border-radius:10px;
    padding: 0.8rem;
}

.card-btn:hover {
    background-color:#032174;
    transition: 0.2s;
}

.card-btn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

.card-btn:active {
    background-color: #ffbf00;
}

.card-btn i {
    margin: 0 0.7rem;
}

#card-two{
    visibility: hidden;
}