:root {
    --background: #3b3b4f;
    --div: #1b1b32;
    --font: #f5f6f7;
}

* {
    box-sizing: border-box;
    color: var(--font);
} 

body {
    background-color: var(--background);
    margin: 0;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

#heading {
    text-align: center;
    background-color: var(--div);
    margin: 0;
    padding: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.3rem black;
    font-size: 2.5rem;
}

.sub-heading {
    margin: 2rem 0;
    text-align: center;
    font-size: 1.5rem;
}

.card {
    background-color: var(--div);
    width: 25rem;
    height: 20rem;
    border: 1px solid var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    margin: 2rem auto;
    box-shadow: 0.5rem 0.5rem 0.5rem black;
}

.card form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-label {
    font-size: 1.5rem;
    text-align: center;
}

.text-input {
    background-color: var(--background);
    padding: 0.7rem;
    margin: 2rem;
    border-radius: 5rem;
}

.div-btn {
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.card-btn {
    background-color:var(--background);
    color: var(--font);
    border:none;
    border-radius:10px;
    min-height:30px; 
    min-width: 120px;
    padding: 0.8rem;
}

.card-btn:hover {
    background-color:#032174;
    transition: 0.2s;
}

.card-btn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

.card-btn:active {
    background-color: #ffbf00;
}

/*Form*/

/*.fieldset {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60rem;
    font-size: 1rem;
}

.form-legend {
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.add-words-div {
    margin-top: 1.5rem;
}

.add-btn {
    color: var(--div);
}

.fa-solid {
    color: var(--div);
}


.buttom-div {
    display: flex;
    justify-content: center;
}

#submit-button {
    position: absolute;
    margin: 3rem auto;
    font-family: monospace, Arial, Helvetica, sans-serif;
    background-color:var(--div);
    color: var(--font);
    border:none;
    border-radius:10px;
    min-height:30px; 
    min-width: 120px;
    padding: 0.8rem;
}

#submit-button:hover {
    background-color:#032174;
    transition: 0.2s;
}

#submit-button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

#submit-button:active {
    background-color: #ffbf00;
}*/