:root {
    --background: #3b3b4f;
    --div: #1b1b32;
    --font: #f5f6f7;
}

* {
    box-sizing: border-box;
    color: var(--font);
} 

body {
    background-color: var(--background);
    margin: 0;
}

.fieldset {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form-legend {
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: medium;
}

.form-label {
    margin-top: 1rem;
}

#submit-button {
    position: absolute;
    margin: 3%;
    font-family: monospace, Arial, Helvetica, sans-serif;
    background-color:var(--div);
    color: var(--font);
    border:none;
    border-radius:10px;
    min-height:30px; 
    min-width: 120px;
}

#submit-button:hover {
    background-color:#032174;
    transition: 0.2s;
}

#submit-button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

#submit-button:active {
    background-color: #ffbf00;
}