* {
    box-sizing: border-box;
} 

body {
    background-color: black;
}

h1 {
    margin: 10%;
    text-align: center;
    color:aliceblue;
}

.form-legend {
    color:aliceblue;
}

#submit-button {
    position: absolute;
    margin: 3%;
    font-family: monospace, Arial, Helvetica, sans-serif;
}