* {
    box-sizing: border-box;
} 

body {
    background-color: black;
}

h1 {
    margin: 10%;
    text-align: center;
    color:aliceblue;
}

.form-legend {
    color:aliceblue;
}

#submit-button {
    position: absolute;
    margin: 3%;
    font-family: monospace, Arial, Helvetica, sans-serif;
    background-color:#404047;
    color: #fff;
    border:none;
    border-radius:10px;
    min-height:30px; 
    min-width: 120px;
}

#submit-button:hover {
    background-color:#002ead;
    transition: 0.2s;
}

#submit-button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

#submit-button:active {
    background-color: #ffbf00;
}