:root {
    --background: #3b3b4f;
    --div: #1b1b32;
    --font: #f5f6f7;

}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: var(--background);
    color: var(--font);
}

#sitoName {
    font-family: Tahoma, monospace, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    background-color: var(--div);
    padding: 2%;
    margin: 0 auto;
    border-bottom: 3px solid var(--font);
}

#elementsNames {
    font-family: monospace, Arial, Helvetica, sans-serif;
    padding: 1.5% 3%;
    margin: 0;
    margin-top: 0;
    font-size: 1.3rem;
    text-align: center;
}

#listElements {
    align-items: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.elements-list-div {
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 5rem;
    padding: 0.5rem;
    margin: 2%;
    text-align: center;
    background-color: var(--div);
    border: 1px solid var(--font);
    border-radius: 25px;
}

#elementsNames-container {
    border: 3px solid var(--div);
    width:fit-content;
    margin: 1rem auto;
    border-radius: 20px;
}

#svgGraph {
    display: flex;
    justify-content: center;
}

svg {
    border: 1px solid var(--font);
    margin-bottom: 2%;
}

.textLegend {
    font-size: 120%;
    font-family: monospace, Arial, Helvetica, sans-serif;
    color:rgb(127, 133, 249);
}