body {
    box-sizing: border-box;
    margin: 0;
    background-color: #3b3b4f;
    color:aliceblue;
}

#sitoName {
    font-family: Tahoma, monospace, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem;
}

#listElements {
    display: flex;
    justify-content: space-around;
}

.elements-list-div {
    font-family: monospace, Arial, Helvetica, sans-serif;
    width: 10rem;
    margin-bottom: 2%;
    padding: 1% 1%;
    text-align: center;
    background-color: #1b1b32;
    border: 1px solid #f5f6f7;
    border-radius: 25px;
}

#elementsNames-container {
    background-color: #1b1b32;
    border-top: 3px solid #f5f6f7;
}

#elementsNames {
    font-family: monospace, Arial, Helvetica, sans-serif;
    padding: 1.5% 3%;
    margin-top: 0;
}

#listElements {
    align-items: center;
}

#svgGraph {
    display: flex;
    justify-content: center;
}

svg {
    border: 1px solid #f5f6f7;
    margin-bottom: 2%;
}

.textLegend {
    font-size: 120%;
    font-family: monospace, Arial, Helvetica, sans-serif;
    color:rgb(127, 133, 249);
}