body {
    background-color: #1b1b32;
    color:aliceblue;
}

#sitoName {
    font-family: Tahoma, monospace, Arial, Helvetica, sans-serif;
    text-align: center;
}

.elements-li {
    font-family: monospace, Arial, Helvetica, sans-serif;
}

#elementsNames {
    font-family: monospace, Arial, Helvetica, sans-serif;
}

#listElements {
    align-items: center;
}

.textLegend {
    font-size: 120%;
    font-family: monospace, Arial, Helvetica, sans-serif;
    color:rgb(127, 133, 249);
}