*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    margin: 2rem;
}

.project {
    margin: 1rem;
}